<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div *ngFor = 'let quote of quotes; let i = index'  class="card mt-5">
                <div class="card-header">
                    <h3> {{quote.yourName}} </h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{quote.yourQuote}}</p>
                        <button (click) = 'showQuoteDetails(i)' class="btn btn-success btn-sm">Show details</button>
                        <div *ngIf = 'quote.showDetails'>
                            <app-quote-details [quote] = 'quote' ></app-quote-details>
                        </div>
                    </blockquote>
                    <div class="card-footer">
                        <button (click) = 'deleteQuote($event,i)' class="btn btn-danger btn-sm delete">Delete-quote</button>
                    </div> 
                </div>
            </div>
            <p class="alert alert-danger" *ngIf = 'quotes.length <1'>No quote available</p>
        </div>
    </div>
</div>
